<h1>{{title}}</h1>
{{sections.narrative.post.publishedAt}}

<article id='narrative'>
  {{{sections.narrative.post.content}}}
</article>

<article id='regenerative_health'>
  <h2>{{sections.regenerative-health.post.title}}</h2>
  {{{sections.regenerative-health.post.content}}}
</article>

<article id='our_backyards'>
  <h2>{{sections.our-backyards.post.title}}</h2>
  {{{sections.our-backyards.post.content}}}
</article>
