<section class='story personal-story'>
  <h1>Welcome to the RavenRidge Family Farm Newsletter</h1>
  <p>We hope the pages below help you to connect more deeply with the living world outside your door.</p>
  <div class='flex_box'>
    {{#each newsletters}}
    {{#if image }}<img class='small lightly-padded' src='{{image}}' alt='The first image from the newsletter on {{published_on}}.' />{{/if}}
    {{/each}}
  </div>
  <h2>Read Past Editions</h2>
  <ol class='padded-list no-decoration'>
    {{#each newsletters}}
    <li class='center title'>{{published_on}} - <a href='/newsletter/{{slug}}'>{{title}}</a></li>
    {{/each}}
  </ol>
</section>
<section class='center big' id="signup">
  <strong>Sign up Below</strong>
  <p>To get an abbreviated version of future editions in your inbox each month, plus occasional subscriber-only promotions.</p>
  {{>newsletter_signup simple=true}}
</section>
<section>
  <h2>The RavenRidge Blog</h2>
  <p>For more frequently changing content, <a href='/blog#archive'>check out our blog</a>.</p>
  <img class='center small' src='/ginger.jpg' alt='This hand drawn ginger plants represent the unique perspectives we each bring to the RavenRidge blog.' />
</section>
