
<div class="ui inverted vertical masthead segment">
<div class="ui center aligned text container">
  <h1 class="ui inverted header">
    {{data.mastline}}
  </h1>
  <h2>{{data.sloganarytext}}</h2>
  <div onclick="redirectWarning('you were going to {{data.buttonurl}}', {{data.buttonurl}});" class="ui huge primary button">{{data.buttontext}} <i class="right arrow icon"></i></div>
</div>
</div>
