
{{#if sidebyside}}
<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    {{#each data }}
      <div class="row">
        {{#everyOther @index 2}}
          <div class="eight wide column">
            <h4>{{text_content}}</h4>
          </div>
          <div class="six wide right floated column">
            <img src="{{image_content}}" class="ui large bordered rounded image">
          </div>
        {{else}}
          <div class="six wide left floated column">
            <img src="{{image_content}}" class="ui large bordered rounded image">
          </div>
          <div class="eight wide column">
            <p>{{text_content}}</p>
          </div>
        {{/everyOther}}
      </div>
    {{/each}}
  </div>
</div>
{{/if}}
