
<article>
  <section class='story'>
    <h1>Why is CBD product testing important?</h1>
    <p>Being a relatively young industry, regulations and enforcement are a work in progress. In a rush to turn a profit, <em>some organizations are behaving unscrupulously</em> in regards to consumer health and wellness.</p>
    <p><strong>This is not how we do business.</strong></p>
    <p class='center-quote'>To ensure that any product you are purchasing is safe and contains the amount of CBD claimed, look for third-party testing on the product batch you are purchasing.</p>
  </section>
  <section class='story'>
    <h2>Cannabinoid testing</h2>
    <p>With RavenRidge products, you can easily correlate the amount of CBD on the label with the amount of CBD shown on the test for that product, as shown on the <a href='/product_testing/2021113'>600mg Sublingual Oil ( 10mg/ml )</a> test pictured below:</p>
    <img class='center big' src='/test_example.jpg' alt='This is an image of a product cannabinoid test with the amount of CBD circled.' />
    <h3>Finding our Product Tests</h3>
    <p>We provide links to each product's testing in the descriptions on <a href='https://shop.ravenridgefamilyfarm.com'>our online store</a>.</p>
    <img class='center big' src="/listing_example.jpg" alt="This image show where you can click on the product details page to see product testing.">
    <p id='cannabinoids' >After purchase, you can find your product's lot number on the packaging and click the matching number in the table below:</p>
    {{#each tests}}
    <p class='center-text title'><strong>{{year}}</strong> - {{tagline}}</p>
    <table class='product-table'>
      <tr><th>Product Name</th><th>Link to Testing</th></tr>
      {{#each products}}
        <tr><td>{{name}}</td><td><a href='/product_testing/{{lot_number}}'>Lot# {{lot_number}}</a></td></tr>
      {{/each}}
    </table>
    {{/each}}
    <p>To learn more about cannabinoid testing and hemp products, read the Farm Doc's post on <a href='/blog/cbd-content'>CBD Content</a>.</p>
  </section>
  <section id='heavymetals_mycotoxins' class='story'>
    <h2>Heavy Metals and Mycotoxins</h2>
    <p>As with any plant growing in soil, whatever is in the soil can also be in the plant. Click the links below to see the safety test results from our product lines:
      <table class='top-margin question-table'>
        <tr><th>Year</th><th>Mycotoxins</th><th>Heavy Metals</th></tr>
        <tr><td>2020</td><td><a href='/test_results/2019_coa_mycotoxins.pdf'>mycotoxins test</a></td><td><a href='/test_results/2019_coa_heavy_metals.pdf'>heavy metals test</a></td></tr>
        <tr><td>2021</td><td><a href='/product_testing/2021_mycotoxins'>mycotoxins test</a></td><td><a href='/product_testing/2021_heavy_metals'>heavy metals test</a></td></tr>
      </table>
    <p>In tests for the presence of something you don't want, None Detected ( ND ) is what you want to see.</p>
      <img class='center big' src="/report_example.jpg" alt="This image shows that the capital letters ND stand for not detected on our product mycotoxin and heavy metal reports.">
      <p>To learn more about the risks of using untested hemp products, read the Farm Doc's posts on <a href='/blog/cbd-heavy-metals'>Heavy Metals</a> and <a href='/blog/cbd-mycotoxins'>Mycotoxins</a>.</p>
  </section>
</article>
