<h1>RavenRidge Regenerative CBD Sublingual Oil</h1>

<article class='story farm-story'>
  <img src='/product_images/dropper_and_spray.jpg' class='center big well-padded' alt='This image shows two sublingual bottles, one with a dropper, and one with a spray top.'/>
  <p class='center'>To buy Sublingual Oil</p>
  <a href='https://shop.ravenridgefamilyfarm.com/collections/regenerative-cbd-sublingual-oil' class='call_to_action_link'>Visit our Online Store</a>
</article>
<article class='story story-intro'>
  <h2>Compare Pricing per Milligram of CBD</h2>
  <p>The table below shows the one-time purchase and subscription pricing for our four sublingual oil strengths.</p>
  <p><strong>The table includes unit price and cost per milligram of CBD.</strong></p>
  <table class='pricing'>
    <tr class='head-row'><td colspan='4'>Regenerative CBD Sublingual Oil</td></tr>
    <tr class='alt-row'><td>Strength</td><td>Total CBD</td><td>One-time<br />Purchases</td><td>Subscription</td></tr>
    {{#each pricing}}
    <tr><td>{{strength}}</td><td>{{total_cbd}} mg</td><td>${{full_price}}<br /> <em>0{{full_mg_price}}/mg</em></td><td>${{subscription_price}}<br /> <em>0{{subscription_mg_price}}/mg</em></td></tr>
    {{/each}}
  </table>
</article>
<article class='story personal-story'>
  <h2>How Sublingual Products work</h2>
  <p>Sublingual products are intended to be absorbed directly into the bloodstream through highly vascularized areas in the mouth.</p>
  <img class='paired-half' src='/sublingual_spray.jpg' /><img class='paired-half' src='/sublingual_dropper.jpg'>
  <p>Once in the bloodstream, the active ingredients travel to recepters found in the body's <em>endocannabinoid system</em>. We talk more about how these compounds work in <a href='/newsletter/february-2021#regenerative_health'>the February Newsletter</a>.</p>
</article>
<p class='center'>Ready to buy?</p>
<div class='center'><a href='https://shop.ravenridgefamilyfarm.com/collections/regenerative-cbd-sublingual-oil' class='call_to_action_link'>Visit our Online Store</a></div>
